<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">




    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

</head>

<body>

    <div class="page-wrapper">



        <header class="main-header header-style-three">
            <!-- Header Top Three -->
            <div class="header-top-three">
                <div class="auto-container clearfix">

                    <!-- Top Left -->
                    <div class="top-left">
                        <ul class="left-list">
                            <li><span class="icon flaticon-pin"></span>3D Aziza Towers, Mansoura , Egypt.</li>
                            <li><span class="icon flaticon-mail-1"></span>info@soft-zone.net</li>
                        </ul>
                    </div>

                    <!-- Top Right -->
                    <div class="top-right clearfix">
                        <ul class="social-box">
                            <li><a href="#"><span class="icon fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="icon fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="icon fab fa-linkedin-in"></span></a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- End Header Top -->
            <!-- Header Upper -->
            <div class="header-upper">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <div class="logo-outer">
                            <div class="logo"><a href="index.html"><img src="~/images/logo-3.png" alt="" title=""></a></div>
                        </div>

                        <div class="nav-outer clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="navbar-header">
                                    <!-- Togg le Button -->
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="icon flaticon-menu-button"></span>
                                    </button>
                                </div>

                                <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li class="current"><a href="index.html">Home</a></li>
                                        <li class="dropdown">
                                            <a href="#">About us</a>
                                            <ul>
                                                <li>@Html.ActionLink("About SOFT ZONE", "about", "Home")</li>
                                                <li>@Html.ActionLink("Mission & Vision", "MissionVision", "Home")</li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Services</a>
                                            <ul>
                                                <li>@Html.ActionLink("System Integration Services", "services", "Home")</li>
                                                <li>@Html.ActionLink("Mobile Application", "services", "Home")</li>
                                                <li>@Html.ActionLink("Integrated Solutions", "services", "Home")</li>
                                                <li>@Html.ActionLink("Software Services", "services", "Home")</li>
                                                <li>@Html.ActionLink("Consultation Services", "services", "Home")</li>
                                            </ul>
                                        </li>
                                        <li>@Html.ActionLink("Projects", "Projects", "Home")</li>
                                        <li>@Html.ActionLink("Blog", "Blog", "Home")</li>
                                        <li>@Html.ActionLink("FAQ’s", "FAQ", "Home")</li>
                                        <li>@Html.ActionLink("Testimonials", "Testimonials", "Home")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    </ul>
                                </div>
                            </nav>
                            <!-- Main Menu End-->
                            <!-- Main Menu End-->
                            <div class="outer-box clearfix">

                                <!-- Options Box -->
                                <div class="option-box clearfix">



                                    <!--Search Box-->
                                    <div class="search-box-outer">
                                        <div class="dropdown">
                                            <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                            <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                                <li class="panel-outer">
                                                    <div class="form-container">
                                                        <form>
                                                            <div class="form-group">
                                                                <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                                <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--End Header Upper-->
            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="index.html" title=""><img src="~/images/logo-small.png" alt="" title=""></a>
                    </div>
                    <!--Right Col-->
                    <div class="pull-right">
                        @Html.Partial("Menu_Partial")
                    </div>
                </div>
            </div><!-- End Sticky Menu -->
        </header>


        @RenderBody()


        @Html.Partial("newsletter_Partial")

        @Html.Partial("Sponsors_Partial")

        @Html.Partial("ContactInfo_Partial")







        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer">
                        <div class="col-md-6 right"><img src="~/images/softzone.png" alt="" /> Designed & Developed By <a target="_blank" href="www.softzone.com">www.softzone.com </a></div>
                        <div class="col-md-6 left">All Rights © @DateTime.Now.Year Reserved for Soft Zone.</div>
                    </div>
                </div><!-- row -->
            </div><!-- container -->
        </footer>



        <div class="component">
            <button class="cn-button" id="cn-button">+</button>
            <div class="cn-wrapper" id="cn-wrapper">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#">Chat</a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div id="cn-overlay" class="cn-overlay"></div>
        </div>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

    <!--Scroll to top-->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <script src="~/js/polyfills.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/script.js"></script>
    <script src="~/Scripts/NewsLetter.js"></script>


</body>
</html>